---
import VnLayout from "../../layouts/VNLayout.astro";
const pageTitle = "if-side";
---

<VnLayout pageTitle={pageTitle}>
  <p>404?</p>
  <nav>
    <div class="nav-links">
      <a href="/about/">About</a>
      <a href="/if/shin-ai/">if/shin-ai</a> -->
    </div>
  </nav>
</VnLayout>
