---
import TwtsList from "./TwtsList.astro";
import Twt from "./Twt.astro";
import { getTwtsForDayDisplay } from "../../lib/twt";

type Props = {
  date: string;
  linkToDay?: boolean;
};

const { date, linkToDay = false } = Astro.props;
const { mainTwt, twts } = await getTwtsForDayDisplay(date);
---

{
  (mainTwt || twts.length > 0) && (
    <section class="twts-for-day">
      {mainTwt && (
        <Twt entry={mainTwt} linkToDay={linkToDay} featured />
      )}
      <TwtsList entries={twts} linkToDay={linkToDay} />
    </section>
  )
}

<style>
  .twts-for-day {
    margin-bottom: 1.5rem;
  }
</style>
