---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TwtsList from "../../components/twt/TwtsList.astro";
import { getLatestTwts } from "../../lib/twt";

const pageTitle = "TWT";
const twts = await getLatestTwts(5);
---

<BaseLayout pageTitle={pageTitle}>
  <div class="content-wrapper">
    <h3>Latest twts</h3>
    <TwtsList entries={twts} />
  </div>
</BaseLayout>

<style>
  .content-wrapper {
    border: dotted 2px #79ffcc;
    background-color: #cbfff631;
    padding: 10px;
    text-align: center;
  }

  h3 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.651);
  }
</style>
