/* Minimal essential styles for all layouts */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", Monaco, Consolas, "Ubuntu Mono", monospace;
  margin: 0 auto;
  width: 1200px;
  max-width: 100vw;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  text-size-adjust: 100%;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.content-wrapper {
  padding: 10px;
  margin: 10px;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
}

.flex-col {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}

ul {
  padding-inline-start: 20px;
  text-align: left;
}
