/* Main page (topfuelbread.com) specific styles */

html {
    background-color: #352e78;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='75' height='75'><text y='50%' x='50%' dominant-baseline='middle' text-anchor='middle' font-size='30'>⭐</text></svg>"),
    repeating-linear-gradient(transparent, transparent 100px);
    background-repeat: repeat;
    background-position: 0 0;
    animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 1000px 1000px;
    }
}
