---

---

<div class="about-me">
  <h3>[자기소개]</h3>
  <p>
    안녕하세요. 긴코개미핥기 입니다. 장래희망은 익룡, 좋아하는건
    예술과 당신입니다.
  </p>
  <p>당신이 여기에 오게된 것도 운명이 아닐까요?</p>
  <p>항상 좋은 일만 있길 바랍니다.</p>
</div>

<style>
  .about-me {
    text-align: center;
    color: cadetblue;
    text-shadow: pink 0 1px;
    border: pink 5px dotted;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    padding-bottom: 10px;
  }

  .about-me p {
    margin: 0;
  }

  .about-me p + p {
    margin-top: 0.5em;
  }

  .about-me li {
    margin-bottom: 2px;
  }

  .about-me b {
    font-weight: 800;
  }
</style>
