---

---

<div class="changelog">
  <h3>--톱퓰빵닷컴의 역사--</h3>
  <ul>
    <li>2026-07-04: 요 며칠간 뭔가 /if 페이지 쪽으로 많이 추가하기는 했는데 무료 AI들을 감수 잘 안하고 써서 그런지 뭔가 코드가 복잡해진 느낌이에요. 여러 무료 툴을 써봤지만... 결국엔 다시 커서 프로를 결제해버렸답니다...</li>
    <li>2026-07-01: 절 아는 사람에게 발각되면 부끄러울 갠홈을 새로 오픈했습니다! 부끄럽지만 잘부탁드립니다!
    </li>
  </ul>
</div>

<style>
  .changelog {
    background-color: #f0f8ffe3;
    border: 2px solid #add8e6;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 15px;
    padding: 2px;
  }

  .changelog h3 {
    color: #9b6090;
    text-align: center;
  }

  .changelog ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .changelog li {
    margin-bottom: 5px;
    color: #555;
  }
</style>
