---

---

<div class="todo-list">
  <h3>TODO list</h3>
  <ul>
    <li class="completed">add a todo list</li>
    <li class="completed">add a 404 page</li>
    <li class="completed">add a changelog</li>
    <li>add an art gallery</li>
    <li>Add review / writing section</li>

    <li>Add Hiyori Shin Page</li>
  </ul>
</div>

<style>
  .todo-list {
    margin-top: 20px;
    color: black;
    border: pink 4px dotted;
    font-size: 13px;
    line-height: 1.4;
    padding-bottom: 10px;
    background: powderblue;
  }

  h3 {
    background-color: rgb(197, 146, 245);
    color: yellow;
    text-shadow: 1px 1px 2px purple;
  }

  ul {
    list-style-type: korean-hanja-informal;
  }

  ul li {
    background: mistyrose;
    margin: 5px;
  }

  .completed {
    text-decoration-line: line-through;
    color: gray;
  }
</style>
