---

---

<div class="todo-list">
  <h3>TODO list</h3>
  <ul>
    <li>신AI에 interactivity 추가하기</li>
    <li class="completed">일기장이랑 블로그 리팩터 하기</li>
    <li class="completed">신의 아스키아트를 더 추가하기</li>
    <li class="completed">메인 페이지에서 떨어진 은밀한 페이지 추가하기</li>
    <li class="completed">add an art gallery</li>
    <li class="completed">Add a Shin Page</li>
  </ul>
</div>

<style>
  .todo-list {
    margin-top: 20px;
    color: black;
    border: pink 4px dotted;
    font-size: 13px;
    line-height: 1.4;
    padding-bottom: 10px;
    background: powderblue;
  }

  h3 {
    background-color: rgb(197, 146, 245);
    color: yellow;
    text-shadow: 1px 1px 2px purple;
  }

  ul {
    list-style-type: korean-hanja-informal;
  }

  ul li {
    background: mistyrose;
    margin: 5px;
  }

  .completed {
    text-decoration-line: line-through;
    color: gray;
  }
</style>
