---
import Navigation from "./Navigation.astro";
---

<header>
  <div class="top-bar" transition:persist>
    <audio controls class="bgm">
      <source src="/audio/rickroll8bit.mp3" type="audio/mpeg" />
    </audio>
  </div>

  <div class="blinking" style="padding-bottom: 15px;">
    <div class="glow title">Welcome to My World!</div>
  </div>

  <nav>
    <Navigation />
  </nav>
</header>

<style>
  .top-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .bgm {
    padding: 0px 15px;
  }
  .title {
    font-size: 50px;
    padding: 50px 0px;
    font-weight: 600;
  }

  header {
    width: 100%;
  }
</style>
