---
import AboutMe from "../widgets/AboutMe.astro";
import TodoList from "../widgets/TodoList.astro";
---

<div class="sidebar flex-col">
  <center>
    <div class="divider">************</div>
  </center>
  <AboutMe />
  <div class="logos">
    <a href="/rss.xml"><i class="fa-solid fa-square-rss"></i></a>
    <a
      href="https://store.steampowered.com/app/3252360/Unemployment_Simulator_2018/"
      ><i class="fa-brands fa-linkedin"></i></a
    >
    <a href="https://store.steampowered.com/app/1443200/Class_of_09/"
      ><i class="fa-brands fa-square-instagram"></i></a
    >
  </div>

  <TodoList />

  <style>
    .sidebar {
      background-color: #ffe4e8;
    }

    .logos {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border: pink 3px dotted;
      padding: 5px;
      margin-top: 10px;
    }

    ul {
      list-style-type: circle;
      padding-inline-start: 20px;
      text-align: left;
    }

    .profile-pic {
      border: pink 4px dotted;
    }

    .divider {
      padding: 10px 0px;
      color: rgb(255, 112, 255);
    }

    .sidebar {
      padding-top: 20px;
    }

    .logos a {
      color: tomato;
      font-size: 20px;
    }
  </style>
</div>
