---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllTags, getPostsByTag } from "../../lib/tags";

export async function getStaticPaths() {
  const tags = await getAllTags();

  return Promise.all(
    tags.map(async (tag) => ({
      params: { tag },
      props: { posts: await getPostsByTag(tag) },
    })),
  );
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Blog posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/${post.id}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
