---
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");
---

<div>PAGE NOT FOUND</div>
PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT
FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE
NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUN?D PAGE NOT FOUND PAGE NOT FOUND
PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUNDPAGE NOT FOUND PAGE NOT FOUND PAGE NOT
FOUND PAGE NOT FOUNDPAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUNDPAGE
NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUNDPAGE NOT FOUND PAGE NOT FOUND
PAGE NOT FOUND PAGE NOT FOUNDPAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAGE NOT
FOUNDPAGE NOT FOUND PAGE NOT FOUND PAGE NOT FOUND PAG?E NOT FOUNDPAGE NOT FOUND PAGE
NOT FOUND PAGE NOT FOUND PAGE NOT FOUND but i found you

<div>are you really here?</div>

please don't leave me here alone plea plea plea p p p p paAAaaA paaa p p you
can't leave you c?an?t ? lea????ve

<a id="lost" href="/4044444444444444444444">please</a>

<script>
  const lostMessage = [
    "come this way",
    "we love you",
    "stay with us",
    "join us",
    "come",
  ];

  document.getElementById("lost").textContent =
    lostMessage[Math.floor(Math.random() * lostMessage.length)];
</script>

<style>
  body {
    background: black;
    color: white;
  }

  a {
    text-decoration: none;
  }
</style>
