---
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");
console.log("PAGE NOT FOUND");


---
<div>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUN?D</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAG?E NOT FOUND</br>PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
PAGE NOT FOUND</br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
but i found you</br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br>
</br>
<div>are you really here?</div>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
please don't leave me here alone
</br>
plea</br>
plea</br>
plea</br>
p</br>
p</br>
p</br>
p</br>
p</br>aAAaaA
p</br>aaa
p</br>
p</br>
you can't leave</br></br>

you c?an?t ?</br>
lea????ve</br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br>
<a id="lost" href="/4044444444444444444444">please</a>
</div>

<script>
    const lostMessage = [
  "come this way",
  "we love you",
  "stay with us",
  "join us",
  "come"
];

document.getElementById("lost").textContent = lostMessage[Math.floor(Math.random()*lostMessage.length)];
</script>


<style>
    body {
        background: black;
        color: white;
    }

    a {
        text-decoration: none;
    }
</style>

