---
import { getCollection, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import AsciiContainer from "../content/ascii/AsciiContainer.astro";
import OldIndex from "../components/content/old-index.astro";
const pageTitle = " Welcome!";

const latestPost = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)[0];

// Render returns a component; rename to avoid generic 'Content' identifier
const LatestContent = latestPost ? (await render(latestPost)).Content : null;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="intro-header">
    <h2>
      안녕하세요 파란새에게 유령밴을 당한 코가 길어 슬픈 개미핥기의 갠홈에
      어서오세요...
    </h2>
    <img
      src="https://blob.gifcities.org/gifcities/V54WUS2GWCSI647WCDLP5SF6DQZ75RZA.gif"
    />
  </div>

  {
    latestPost && (
      <div class="import-latest-blog-post-container">
        <article class="latest-blog-post">
          <div class="pub-date">
            {latestPost.data.pubDate.toISOString().split("T")[0]}
          </div>
          <h3>
            <a href={`/blog/${latestPost.id}/`}>{latestPost.data.title}</a>
          </h3>
          <div class="post-content">
            {LatestContent ? <LatestContent /> : null}
          </div>
        </article>
      </div>
    )
  }

  <div class="diary">
    <div>
      <h3>2026/07/03</h3>
      <p>아스키아트 구현 작업 중 입니다...,,,,</p>
      <AsciiContainer name="miyuki" />
    </div>

    <div class="message-box">
      <h3>2026/07/02</h3>
      <h4>
        무료 AI로 코드짜는건 회사의 유료 아이랑 비교해서 많이 차이가 나네요
        속도도 그렇고... ㅅㅏ이트 수정할 곳은 많은 데 역시 8월에 퇴사하고
        취미활동이나 할까요? 여행이랑
      </h4>
      게임이나 해야겠네요. 8월에 퇴사하면 9월에 여행가고 10월에 게임하고 11월에 여행가고
      12월에 게임하고 1월에 여행가고 2월에 게임하고 3월에 여행가고 4월에 게임하고
      5월에 여행가고 6월에 게임하고 7월에 여행가고 8월에 게임하고 9월에 여행가고 10월에
      게임하고 11월에 여행가고 12월에 게임하고 1월에 여행가고 2월에 게임하고 3월에
      여행가고 4월에 게임하고 5월에 여행가고 6월에 게임하고 7월에 여행가고 8월에 게임하고
    </div>

    <div class="message-box">
      <h3>2026/07/01</h3>
      <h1>
        오랜만의 업데이트가 있겠습니다. 취미용 갠홈을 따로 열기로 하였습니다.
        그리고 당신은 지금 그곳에 저와 함께 계십니다. 정말 감사합니다.
      </h1>
      <h4>이 밑에 있는 내용들은 전 갠홈에서 복붙해온 것들입니다.</h4>
    </div>

    *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
    *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
    *** *** *** *** *** *** *** *** *** ***

    <OldIndex />
  </div>

  <style>
    .intro-header {
      text-align: center;
      margin-bottom: 15px;
      color: white;
    }

    h1 {
      text-align: center;
      color: yellow;
    }

    .text-block {
      background-color: rgb(255, 255, 211);
      color: orange;
      border: 2px solid black;
      padding: 10px;
      margin-bottom: 20px;
      font-style: italic;
    }

    h3 {
      color: red;
      text-shadow:
        darkblue 1px 1px 2px,
        darkblue -1px -1px 2px,
        darkblue -1px 1px 2px,
        darkblue 1px -1px 2px;
    }

    .import-latest-blog-post-container {
      border: dotted 2px #79ffcc;
      background-color: #cbfff631;
      padding: 10px;
      margin-bottom: 20px;
      text-align: center;
    }

    .latest-blog-post .pub-date {
      font-size: 12px;
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.651);
    }

    .latest-blog-post h3 a {
      color: #ffe0f3;
      text-decoration: none;
      text-shadow: 1px 1px 2px rgba(255, 0, 155, 0.651);
    }

    .latest-blog-post .post-content {
      line-height: 1.3;
      color: rgb(250, 223, 255);
      font-family: monospace;
      text-align: left;
    }
  </style>
</BaseLayout>
