---
import BaseLayout from "../layouts/BaseLayout.astro";
import AsciiContainer from "../content/ascii/AsciiContainer.astro";
const pageTitle = " Welcome!";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="top">
    <h2>
      안녕하세요 파란새에게 유령밴을 당한 코가 길어 슬픈 개미핥기의 갠홈에
      어서오세요...
    </h2>
    <img
      src="https://blob.gifcities.org/gifcities/V54WUS2GWCSI647WCDLP5SF6DQZ75RZA.gif"
    />
  </div>

  <div class="">
    <h3>2026/07/03</h3>
    <p>아스키아트 구현 작업 중 입니다...,,,,</p>
    <AsciiContainer name="miyuki" />

    <div class="message-box">
      <h3>2026/07/02</h3>
      <h4>
        무료 AI로 코드짜는건 회사의 유료 아이랑 비교해서 많이 차이가 나네요
        속도도 그렇고... ㅅㅏ이트 수정할 곳은 많은 데 역시 8월에 퇴사하고
        취미활동이나 할까요? 여행이랑
      </h4>
      게임이나 해야겠네요. 8월에 퇴사하면 9월에 여행가고 10월에 게임하고 11월에 여행가고
      12월에 게임하고 1월에 여행가고 2월에 게임하고 3월에 여행가고 4월에 게임하고
      5월에 여행가고 6월에 게임하고 7월에 여행가고 8월에 게임하고 9월에 여행가고 10월에
      게임하고 11월에 여행가고 12월에 게임하고 1월에 여행가고 2월에 게임하고 3월에
      여행가고 4월에 게임하고 5월에 여행가고 6월에 게임하고 7월에 여행가고 8월에 게임하고
    </div>

    <div class="message-box">
      <h3>2026/07/01 Updates</h3>
      <h1>
        오랜만의 업데이트가 있겠습니다. 취미용 갠홈을 따로 열기로 하였습니다.
        그리고 당신은 지금 그곳에 저와 함께 계십니다. 정말 감사합니다.
      </h1>
      <h4>이 밑에 있는 내용들은 전 갠홈에서 복붙해온 것들입니다.</h4>
    </div>

    *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
    *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
    *** *** *** *** *** *** *** *** *** ***

    <h4>2025/09/25 Updates</h4>
  </div>
  <div>
    <ul>
      <li>버섯RPG 깼다!!!</li>
      <li>Updated Guestbook to use Atabook instead of Github-based service.</li>
      <li>Added "About Me" to left side bar!</li>
    </ul>
  </div>

  <div class="text-block">
    <h3>==공지사항==</h3>
    2025/09/10 버섯rpg 할사람 일로 ㅋㅋ
    <div>
      버섯RPG 할사람 여기: <a href="https://vidkidz.tistory.com/625"
        >https://vidkidz.tistory.com/625</a
      >
    </div>
    내가 찾던버섯RPG 여기있었네요
  </div>

  <!-- 
	<div>
		<Greeting
			client:load
			messages={["안녕하세요~", "Hallo", "Hola", "Hello World!"]}
		/>

		TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_TEXT_OVERFLOW_TEST_
	</div> -->

  <div>
    <p>My OG, Kirbo!!</p>
  </div>

  <div class="flex-row">
    <img
      src="https://blob.gifcities.org/gifcities/3VUTQM62GSFJPDYBEO4XXDDJ3VHGIOG2.gif"
    />
    <img
      src="https://blob.gifcities.org/gifcities/3VUTQM62GSFJPDYBEO4XXDDJ3VHGIOG2.gif"
    />

    <img
      src="https://blob.gifcities.org/gifcities/3VUTQM62GSFJPDYBEO4XXDDJ3VHGIOG2.gif"
    />
  </div>
  <h3>COOL trendy cartoons:</h3>

  <div class="flex-row">
    <img
      src="https://blob.gifcities.org/gifcities/7APGV3ZMFLFVQEF27RV4WVU5FZ3IRPRY.gif"
    />
    <img
      src="https://blob.gifcities.org/gifcities/AHHUMO3XICM3FYPRSK4MH2YSUAI634XD.gif"
    />
    <img
      src="https://blob.gifcities.org/gifcities/T4ANT4AIOAP6MZBULGFEOYARAKU3TF2M.gif"
    />
  </div>
  <div>
    <img
      src="https://blob.gifcities.org/gifcities/2KYPUPKM2HQZWBCVJULTACOQQ3XSLPCS.gif"
    />
    <h3>Adopt a dog!</h3>
    <div class="rotating">
      <p>is this dog the one you want?</p>
    </div>
    <p>or is it this dog?</p>
    <p>or this?</p>

    <img
      src="https://blob.gifcities.org/gifcities/2H3HPTPVNC6VWKG7ZB56LX63MWEACA34.gif"
    />
    <p>THIS ONE IS AN IMPOSTER</p>
  </div>
  <h1 class="blinking">this is cat domain now!!!!!!!!!!!!!!</h1>
  <img
    src="https://blob.gifcities.org/gifcities/6BMRRVGSGHWQEYFZVFYMNRXMW7FUXQTH.gif"
  />
  <img
    src="https://blob.gifcities.org/gifcities/GQYDQV2LFIG5H2VXKICXYQEG32UTYVX2.gif"
  />
</BaseLayout>

<style>
  .top {
    text-align: center;
    margin-bottom: 15px;
    color: white;
  }

  h1 {
    text-align: center;
    color: yellow;
  }

  .text-block {
    background-color: rgb(255, 255, 211);
    color: orange;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    font-style: italic;
  }

  h3 {
    color: red;
    text-shadow:
      darkblue 1px 1px 2px,
      darkblue -1px -1px 2px,
      darkblue -1px 1px 2px,
      darkblue 1px -1px 2px;
  }
</style>
