---
import BaseLayout from "../layouts/BaseLayout.astro";
import Twt from "../components/twt/Twt.astro";
import BlogPostSummary from "../components/blog/BlogPostSummary.astro";
import { getLatestBlogPostId } from "../lib/blog";
import { getMainTwts } from "../lib/twt";

const pageTitle = "Welcome!";

const mainTwts = await getMainTwts();
const [featuredTwt, ...olderMainTwts] = mainTwts;
const latestPostId = await getLatestBlogPostId();
---

<BaseLayout pageTitle={pageTitle}>
  <header class="home-intro">
    <h2>
      안녕하세요 파란새에게 유령밴을 당한 코가 길어 슬픈 개미핥기의 갠홈에
      어서오세요...
    </h2>
    <a class="if-portal" href="/if/">
      <img
        src="https://blob.gifcities.org/gifcities/V54WUS2GWCSI647WCDLP5SF6DQZ75RZA.gif"
        alt=""
      />
      <p>^^위 웰컴을 클릭하시면 다른 세계로 데려가 준다네요^^</p>
    </a>
  </header>

  <div class="content-wrapper">
    {
      featuredTwt && (
        <section class="featured-twt">
          <p class="featured-twt__label">New!</p>
          <Twt entry={featuredTwt} featured />
        </section>
      )
    }
    <!-- {latestPostId && <BlogPostSummary id={latestPostId} />} -->
    {olderMainTwts.map((entry) => <Twt entry={entry} />)}
  </div>

  <style>
    .home-intro {
      text-align: center;
      margin-bottom: 15px;
      padding-bottom: 10px;
      color: white;
      border-bottom: 1px solid white;
    }

    .if-portal {
      color: inherit;
      text-decoration: none;
    }

    .featured-twt {
      margin-bottom: 20px;
    }

    .featured-twt__label {
      margin: 0 0 0.5rem;
      font-size: 25px;
      font-weight: bold;
      color: gold;
      text-decoration: underline;
      text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #fffc52,
        -2px 2px 0 #dbff3d,
        2px 2px 0 #ff00f2,
        -3px 0 0 #f9ffc6,
        3px 0 0 #fbff00,
        0 -3px 0 #ffffff,
        0 3px 0 #8400ff;
    }
  </style>
</BaseLayout>
