---
import BaseLayout from "../layouts/BaseLayout.astro";
import DiaryEntry from "../components/diary/DiaryEntry.astro";
import BlogPostSummary from "../components/blog/BlogPostSummary.astro";
import { getLatestBlogPostId } from "../lib/blog";
import { getDiaryEntries } from "../lib/diary";

const pageTitle = " Welcome!";

const diaryEntries = (await getDiaryEntries()).sort((a, b) =>
  b.id.localeCompare(a.id),
);
const [firstDiary, ...restDiary] = diaryEntries;
const latestPostId = await getLatestBlogPostId();
---

<BaseLayout pageTitle={pageTitle}>
  <div class="intro-header">
    <h2>
      안녕하세요 파란새에게 유령밴을 당한 코가 길어 슬픈 개미핥기의 갠홈에
      어서오세요...
    </h2>
    <div class="transfer-to-if-side">
      <a href="/if/">
        <img
          src="https://blob.gifcities.org/gifcities/V54WUS2GWCSI647WCDLP5SF6DQZ75RZA.gif"
        />
        <p>^^위 웰컴을 클릭하시면 다른 세계로 데려가 준다네요^^</p>
        </a
      >
    </div>
  </div>

  <div class="diary">
    <div class="diary-entry">
      {firstDiary && <DiaryEntry entry={firstDiary} />}
    </div>
    {latestPostId && <BlogPostSummary id={latestPostId} />}
    {restDiary.map((entry) => <DiaryEntry entry={entry} />)}
  </div>

  <style>
    .diary-entry {
      border: 1px dotted pink;
      padding: 10px;
      margin-bottom: 20px;
      background-color: rgba(255, 255, 255, 0.3);
      color:black;
      font-family: "Nanum Gothic";
    }

    .intro-header {
      text-align: center;
      margin-bottom: 15px;
      color: white;
      boreder-bottom: 1px solid white;
      padding-bottom: 10px;
    }

    h1 {
      text-align: center;
      color: yellow;
    }

    .text-block {
      background-color: rgb(255, 255, 211);
      color: orange;
      border: 2px solid black;
      padding: 10px;
      margin-bottom: 20px;
      font-style: italic;
    }

    h3 {
      color: red;
      text-shadow:
        darkblue 1px 1px 2px,
        darkblue -1px -1px 2px,
        darkblue -1px 1px 2px,
        darkblue 1px -1px 2px;
    }

    .transfer-to-if-side {
    }
  </style>
</BaseLayout>
