---
import BaseLayout from "../layouts/BaseLayout.astro";
import DiaryEntry from "../components/diary/DiaryEntry.astro";
import BlogPostSummary from "../components/blog/BlogPostSummary.astro";
import OldIndex from "../content/old-index.astro";
import { getLatestBlogPostId } from "../lib/blog";
import { getDiaryEntries } from "../lib/diary";

const pageTitle = " Welcome!";

const diaryEntries = await getDiaryEntries();
const [firstDiary, ...restDiary] = diaryEntries;
const latestPostId = await getLatestBlogPostId();
---

<BaseLayout pageTitle={pageTitle}>
  <div class="intro-header">
    <h2>
      안녕하세요 파란새에게 유령밴을 당한 코가 길어 슬픈 개미핥기의 갠홈에
      어서오세요...
    </h2>
    <img
      src="https://blob.gifcities.org/gifcities/V54WUS2GWCSI647WCDLP5SF6DQZ75RZA.gif"
    />
  </div>

  <div class="diary">
    {firstDiary && <DiaryEntry entry={firstDiary} />}
    {latestPostId && <BlogPostSummary id={latestPostId} />}
    {restDiary.map((entry) => (
      <DiaryEntry entry={entry} />
    ))}
  </div>

  *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
  *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
  *** *** *** *** *** *** *** *** *** ***

  <OldIndex />

  <style>
    .intro-header {
      text-align: center;
      margin-bottom: 15px;
      color: white;
    }

    h1 {
      text-align: center;
      color: yellow;
    }

    .text-block {
      background-color: rgb(255, 255, 211);
      color: orange;
      border: 2px solid black;
      padding: 10px;
      margin-bottom: 20px;
      font-style: italic;
    }

    h3 {
      color: red;
      text-shadow:
        darkblue 1px 1px 2px,
        darkblue -1px -1px 2px,
        darkblue -1px 1px 2px,
        darkblue 1px -1px 2px;
    }
  </style>
</BaseLayout>
