---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Shin Tsukimi";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="shin">
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠞⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣤⡶⢶⡿⣟⣟⡿⡛⠿⢖⣶⠲⠶⠤⣤⣤⣄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠴⠋⢰⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣴⠶⡟⢻⣛⠷⣿⠿⣿⠾⣷⣶⡹⣜⣒⣌⣉⣋⣳⣶⣮⣿⣿⣿⣶⣤⣴⣤⣄⣀⡤⠔⠊⡁⠠⠐⣼⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⡾⠿⣅⣐⡠⢜⡳⣜⣻⣜⡻⣳⣏⣷⣎⣷⠾⣓⠛⣉⠉⡉⢀⣀⣨⡭⠭⠷⠚⠛⠋⠉⠁⡀⠄⢁⣀⠂⣰⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣾⠟⠋⠁⠀⠀⠉⢉⡛⢳⣤⣳⣾⢿⣯⣽⣺⣽⡼⠿⠟⠛⠛⢉⠉⣉⡁⠠⠀⠄⠠⠐⢀⠂⢁⣂⡤⠞⣻⠃⡴⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⡼⠃⠀⠀⠀⢀⠀⡘⠠⣸⣿⠿⢟⣛⣇⣼⠿⡛⠄⠃⡀⠄⠠⠀⠄⠠⠀⠣⡄⠃⠘⣠⣼⠤⠿⠛⠃⢀⡼⣃⣼⡧⢤⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡿⠳⢤⣀⣀⡀⠀⠄⣀⣴⡿⠟⠋⣶⡽⠞⠋⠈⠄⠠⠐⠠⣰⠄⠁⠌⢀⠂⢁⠂⣝⢦⡁⢀⠀⠄⡀⣢⣞⡋⠤⣄⡀⢠⣀⣠⠈⠙⠲⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡟⡁⢀⠀⠀⠉⠉⢙⣶⡿⠛⠃⣩⠞⠉⡀⠄⠂⡁⠄⠁⢂⡵⠁⠠⠈⠄⠂⡐⠠⠀⢹⣷⣷⠀⡈⠄⠀⠄⡀⠹⣄⣠⣉⡻⣝⠛⢭⣉⠓⠺⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡿⢁⠠⠀⠁⠄⠄⣡⣿⠞⣧⣥⠟⠁⠠⢁⣰⠀⡁⣠⠆⢁⡞⢠⣤⡇⣰⠎⠀⠄⠂⢁⢸⣆⠹⣇⠀⠌⢣⡔⠀⠄⡈⢧⡈⢉⠉⠳⣤⣈⠙⠢⣌⡃⠀⠀⠀⠀⠀⠀⠀⢀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⠳⡮⢦⣥⡂⠉⣾⣿⡟⣵⠟⠀⠠⣈⠄⡾⠁⣠⠞⢁⠠⣼⣡⢏⣼⣸⠛⠀⠌⣦⠈⠠⣸⠙⣆⠈⡐⠈⡀⠹⡄⠳⢤⡈⢷⡄⠈⢦⣤⣌⡓⢦⡀⠉⠓⠲⠤⠤⠤⠴⣶⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣟⠢⢑⡂⡔⠙⣾⣟⠟⡼⠁⡀⣢⠟⠁⡾⢁⣴⠏⠀⠂⣸⣿⠃⣼⡟⠏⣴⠈⠀⢽⡆⠁⡟⠀⣿⣆⢹⡄⠐⡀⢻⡄⢀⠓⣎⣟⢦⡀⠳⡄⠉⠛⡿⣆⠁⠄⡐⠠⣰⠞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡏⡱⣎⢴⠁⣼⣿⡟⡼⠁⣐⡜⢡⠆⢸⢇⡾⣿⠀⠈⠄⣿⠃⣼⣿⡇⠀⣿⡄⠈⢌⡇⣸⠃⠈⣿⢻⡆⣿⡄⠐⡀⣿⠀⠠⢈⣿⡄⢳⡀⢹⡆⠁⡀⠙⣠⣰⠴⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣧⢱⢈⡏⢸⣿⡿⣰⠃⣰⠋⣠⡟⠀⣿⡟⢠⡏⢀⠡⣼⣿⢠⣟⠀⣧⢢⣿⣇⠈⢸⣧⠇⣷⢈⡗⠀⣿⣾⣿⡀⢰⢸⡆⠁⢣⠈⢧⠀⢳⡀⣇⠉⡉⠛⠛⢤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣏⢛⢊⠁⣽⣿⣧⠏⣰⢃⣼⢹⡇⣰⠻⣄⣾⡧⠖⢛⡟⠹⣿⡏⠛⢿⣸⠇⣿⢀⡿⠋⢠⣿⢸⡟⠛⠙⣿⣿⣗⣿⣿⣿⠀⡘⡇⠈⣧⡈⢷⡏⠴⣶⡶⠾⢤⣙⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣯⣧⢻⣼⡞⣿⣿⠏⢰⡷⢻⠃⢸⣧⠏⢰⣿⠃⣷⡇⢸⣃⣀⣙⠇⠀⠸⣿⠀⣹⡆⠠⠐⣼⣿⣿⢀⡀⣀⡹⢸⡿⠈⣿⣿⠳⠄⣇⠠⢿⣧⠸⡆⠂⠀⠙⢦⡀⠘⢻⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⣿⣏⣷⣿⠟⠁⣀⡿⢀⡿⢀⣿⣿⠀⣸⠏⠀⢻⣿⣼⠁⠀⠈⢣⠀⠀⠙⠀⠙⣇⠐⢠⡟⢸⠇⠘⠀⠀⠀⠈⠀⠀⠛⢸⡇⠀⣿⠀⣿⠘⣧⡇⠄⡁⢂⠀⠙⣄⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢤⣀⣐⣿⠿⠟⠋⢀⠀⡂⠄⣡⠰⣏⡼⢿⠘⢀⣿⠀⠀⠀⢣⣽⣶⣶⣶⣶⣆⠀⠀⠀⠀⣿⢀⣾⠃⠘⢀⣾⣿⣿⣿⣦⣤⣀⠀⠸⡇⢰⣿⢀⣿⠠⢹⡏⣶⠦⢤⣌⡐⠸⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠲⣤⣰⣀⡓⢊⣡⠑⠌⡟⠀⣿⠃⠸⡆⢸⣿⢀⣴⡾⠟⠛⠉⠉⠉⠙⠛⠃⠀⠀⠀⣿⣾⠃⠀⠀⠘⠋⠉⠁⠈⠉⠉⠛⠷⣼⣇⣾⡟⣸⠃⢀⢺⡇⠘⣦⠀⠈⠙⠲⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⣿⣿⡷⠟⠛⡇⠐⠘⠇⠐⠹⣿⢹⡏⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⢿⣿⣧⠏⢴⠀⠋⡷⣔⢸⡄⠀⠀⠀⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣿⢿⣿⠟⣠⢃⠚⡇⢨⡇⠀⣏⠠⣝⠂⠻⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁⡾⠚⣡⠆⣾⣧⠈⡷⢘⣾⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⢯⣟⣿⣼⣾⡟⣨⣧⡟⣷⠈⣿⠀⠈⠷⣄⠈⠳⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢾⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠞⠁⣰⠃⢠⡏⡏⣧⠇⠜⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣻⢞⣿⣿⠟⠠⠁⢽⡇⠸⣆⣿⡄⠡⢀⠹⣷⠶⠤⠽⠟⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢤⣀⣤⣞⣡⣴⠞⠁⣦⣸⠁⣽⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣯⣝⣯⠾⠃⠄⠂⢉⣈⣷⣬⡙⣿⢷⠐⣆⠀⢻⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⣿⣷⣶⣶⣷⡄⠀⠀⠀⠀⠀⠈⠉⠉⢹⡏⠀⢲⣷⠏⢿⠢⣝⣆⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⣿⣷⣾⣾⣿⣿⣿⣿⡏⠰⣆⢸⣿⡇⣿⠀⠸⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⣾⠀⢈⣿⣿⠀⢸⡀⠀⠉⠿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣿⣾⣷⣮⣽⣿⢿⣿⢆⣾⣿⠀⡀⣿⣿⣧⠀⢻⡄⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠿⠿⠟⠋⠀⠀⠀⠀⠀⠀⠀⠀⣴⡏⢠⡟⢸⣿⢷⢸⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⣿⣿⣿⣿⡿⣿⣿⠟⣿⠀⣼⣿⠘⢻⣧⡈⣿⣶⣀⣀⣤⣤⣤⣤⣄⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣞⢹⢇⡾⣧⠏⠀⠈⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠻⠿⠛⠛⠛⠉⢀⣿⣾⣿⣿⣦⣿⠿⣿⣿⠟⣉⡘⢿⣯⡟⣒⣈⢉⠻⠟⢛⠶⢶⣤⣄⣀⠀⣠⣾⣣⠿⣾⣾⣼⣃⣀⣤⡴⡟⠶⢲⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣶⡾⡟⢯⣿⡏⠉⠛⢯⣿⠀⠀⢾⣿⣿⡆⡀⢾⣿⣿⠇⡀⠀⣯⢘⡃⠄⢺⣿⣿⡟⠻⢿⣿⣿⣿⣭⣸⣿⣟⣷⣀⣀⣳⣄⡼⠳⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣿⣿⣮⣀⣼⡇⠀⠀⠀⠹⣿⣿⣮⠉⣹⣾⣿⣧⣉⣭⣾⣿⣷⣮⣥⠼⣥⣦⠉⢉⣾⣿⣷⡍⠉⣿⣿⣿⡍⠉⣼⡿⣿⡄⠙⢠⠠⢹⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣴⣿⣿⠿⢟⣿⣿⣿⠃⠀⠀⠀⠀⢻⡟⣻⣿⣿⡛⠟⣿⣿⣯⡝⠻⢫⣶⡶⡅⠚⢊⢷⠢⠝⠟⢫⣴⣶⡝⠿⢻⣵⣶⣝⠻⢛⣵⣶⣦⠇⢇⣹⣧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣶⢿⣿⣿⡿⣿⢿⣿⣾⡿⣾⡏⠀⠀⠀⠀⠀⠀⣿⡹⢷⡿⣡⣤⡹⠿⠿⣣⣤⣜⠿⠿⣣⣤⣌⠈⠷⠂⣤⣘⡿⢿⣋⣤⣜⣿⡿⣟⣤⣌⠿⣷⣟⣤⣴⡿⠷⠷⠖⡲⠶⣦⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣾⡿⣛⢿⣿⣾⡗⣌⡻⣿⣿⠗⣴⠁⠀⠀⠀⠀⠀⢦⡿⡿⣿⣿⣿⣿⣿⣶⣾⣿⣿⣿⣆⣤⣿⣿⡿⣒⣒⣻⣹⣿⣝⣯⣿⣿⣿⣋⣄⣻⣿⣿⢷⣟⢻⣿⣿⠧⣄⠘⢳⣬⠟⣡⠸⣿⣶⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⣿⣿⣿⣹⣳⢬⡳⣿⡿⣿⠘⢁⣿⠃⠀⠀⠀⠀⠀⢠⣺⠇⢰⠨⣙⠙⠛⣿⣿⣿⣿⣻⣿⣿⣿⣟⡛⢿⣿⣿⣯⢩⣍⣿⣹⣯⠿⢿⣿⣿⣯⣈⣱⣿⣿⣷⠾⠳⣿⣿⣿⣄⠂⠿⣉⡡⠈⠩⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣤⣴⣶⣿⢿⣿⣿⣿⡟⡿⣟⣻⣿⣛⣻⢿⣿⣿⠃⠀⠀⠀⠀⠀⣠⣿⣿⣿⣦⡀⠃⢆⠱⡈⠛⢫⣿⢿⣿⠛⢻⣿⣿⣿⡿⣿⣿⣿⣿⣭⡥⣶⠿⠿⠛⠋⣽⣿⣷⡝⠛⣽⣿⣷⡏⠛⣱⣿⣟⡆⠈⠁⠶⣼⡌⠛⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣽⣿⣿⣽⣶⣯⡳⣏⣷⢍⡘⠻⢿⡀⠀⠀⠀⢀⣰⣿⠟⣿⡿⣻⣿⣿⡼⣤⣀⠄⣌⠻⠿⢫⣴⣮⡻⠿⢯⣴⣦⣙⠿⢋⣴⡶⣄⠀⠂⢠⠠⡙⠷⢿⣥⣷⣜⢿⠿⣯⣷⣜⠻⠿⣥⣶⣬⠑⠚⣡⠒⣭⣿⡿⣻⣦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣯⣿⣿⣿⣿⣿⣿⣿⣿⣿⣭⣿⢿⣿⣿⣵⣞⢯⣥⢟⣠⢸⡇⠀⠀⠀⠀⠀⢣⢸⡿⠙⠻⣯⡿⣻⣶⣾⣷⣾⣧⣄⡹⣿⡽⢃⣤⡻⢿⡿⢏⣠⣘⢯⡿⢇⣤⣀⠠⠐⢃⢌⣘⢿⣿⢟⣬⣍⢿⣿⢿⣡⣄⠿⣿⠿⣣⣄⡹⠿⡿⠋⣘⡻⣿⡿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⠀⢀⣤⣴⣾⣿⣿⣿⣿⣿⣿⣿⣻⣿⣿⡿⣿⣿⣿⣿⣷⡬⢿⣿⣿⣷⣜⠺⣭⣿⡇⠀⠀⠀⠀⠀⢸⠛⣁⠀⠀⠈⢿⣿⣻⡿⣘⠿⢿⣿⣿⣿⣿⣿⣟⣿⢤⣠⣿⣿⣿⠆⡀⢿⣯⣿⠆⣀⢺⡞⣭⠂⠠⢿⣯⣿⢧⣀⣺⣿⣿⡗⠀⢸⣿⣿⡷⣠⣼⣿⣿⣿⣷⣶⣿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⣰⣿⣿⡿⣿⣟⡿⣽⣳⢯⣳⢟⣿⣶⣟⣷⣭⢟⣿⢿⣿⣿⣿⣯⣽⣿⣿⠿⣿⡿⠁⠀⠀⠀⣀⣴⡧⠋⠀⠳⡀⠀⢸⣯⠉⣽⡿⣿⡆⠩⢈⠙⣻⠙⠋⢴⣿⣟⡏⠉⢱⣿⣿⡧⠉⢱⣿⣿⣷⢜⡁⠿⣁⣦⣽⣿⣿⣿⣿⠉⢉⣾⣿⣷⣬⣿⣿⡿⣿⡍⣡⣾⣿⣿⣿⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⢰⣿⣿⢳⣟⡷⣯⣟⠷⣯⣟⢮⡻⣜⠻⣿⣿⣿⣿⣯⣟⣿⣿⣿⣿⣿⠻⣌⣷⣿⣷⣤⡾⠀⠀⠈⠁⠀⠀⠀⠀⠙⡀⠨⣿⣿⣾⢿⣛⣴⣿⣦⠙⠀⡁⠰⡈⠛⢛⣵⣶⣮⡙⠛⣷⣿⣦⡝⠛⣳⣾⣷⣝⣷⣿⢏⣾⠙⠛⢩⣾⣶⣝⣿⣿⣿⣿⣍⠛⢫⣿⣿⣿⣿⡿⣿⣿⣿⣶⣦⣄⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⣾⣿⣜⣻⢯⣿⣽⣾⣿⣟⡾⣏⡷⣽⣫⡽⣟⣿⣿⣿⡾⢿⣽⣿⡟⣥⣋⣿⣿⣿⣩⠎⠀⠀⠀⠤⣤⣤⣀⡀⠀⠀⢣⠀⡷⡏⠙⠛⠻⠿⣷⣟⣷⣤⣠⣄⣀⣀⣀⡻⢯⢟⣥⣤⣻⢿⣿⣷⣿⣟⣿⡾⣿⣯⣿⡾⠝⡂⠤⣜⣿⣿⣿⣿⣍⠿⠿⣫⣴⣿⣿⣿⣿⠏⣴⡻⣍⠛⣿⣿⣿⣷⡄⠀⠀⠀⠀
    ⠀⠀⠀⣿⣿⣿⣽⣿⣿⣾⣽⣷⣿⣿⣿⣻⣶⣝⡾⣭⣿⣿⣿⣿⣿⢟⡳⢾⢥⣿⣿⡿⢩⠀⠀⠀⠀⠀⠀⠀⠀⠘⠫⣷⣤⡈⢸⡷⣤⠀⠀⠀⠀⠈⢻⣿⣿⣧⣦⣍⣯⣽⣯⣭⣻⣿⣽⡿⠼⠿⣿⣿⣿⣣⣽⣿⣿⡿⣀⣀⣽⣾⣿⣿⡿⢿⣽⡿⣂⣀⣿⣿⣿⣿⡿⣩⣚⡔⢳⡘⢏⣖⡿⡻⣿⣿⡀⠀⠀⠀
    ⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢻⣽⣿⣿⡗⣮⠓⡏⣾⣿⡟⠀⡇⠀⠈⠑⢢⡄⠀⠀⠀⠀⠀⠈⢪⢻⣾⣷⡌⢳⠀⠀⠀⠀⠀⢹⣷⣿⣿⣿⠋⡇⢹⡆⣷⣼⠃⠀⠀⡞⣿⠙⣿⣿⣿⡇⣬⣿⣿⣿⣿⣿⣿⡏⡔⠂⠀⣼⣿⢻⣿⣿⣿⡟⣶⢩⡖⣬⢳⢹⡞⣼⣯⢹⡎⣿⣷⠀⠀⠀
    ⠀⠀⠀⣿⣿⣿⣿⣻⣽⣥⢧⣭⣻⢿⠿⣿⢿⣿⣿⣿⣯⣿⣿⣿⡇⢻⢧⡹⣾⣿⣧⢸⡄⠀⠀⠀⢀⠘⣆⠀⠀⠀⠀⠀⠈⢦⡉⠛⠷⣯⠷⠶⠶⠦⣄⡈⣿⣝⠻⣫⣾⣷⣍⢞⣵⠃⠀⠀⣸⣼⣿⣷⣿⣿⣿⣿⣿⣯⣿⣿⣿⣿⣯⠐⠁⠠⠖⡈⣻⣿⣿⣿⣟⡶⣡⢯⡰⣽⠦⣝⢦⣿⣭⠞⠾⣽⣿⡄⠀⠀
    ⠀⠀⠀⢸⣿⣿⣿⣿⣿⣩⣿⣷⣯⣟⡿⣭⡿⣽⣻⣿⣿⣿⣿⣯⣞⢻⣼⣛⣿⣷⢿⣯⠸⡀⠀⠉⠉⠉⠉⠓⢤⣀⢀⣀⣀⣀⣙⠢⠤⠠⠤⠤⠀⠀⠀⠀⠙⢿⣿⣾⣷⣿⣿⣿⡧⠔⠒⠉⠉⠉⠛⢿⣿⣿⣿⣿⠿⣿⣿⣽⡿⠿⢟⣤⣤⡈⠹⢟⣟⣽⣿⡿⢼⣲⢍⢶⡱⡜⢷⣞⣼⠛⣤⢫⣽⡜⣿⣇⠀⠀
    ⠀⠀⢠⣿⣿⣿⣟⣘⣿⣻⣿⣯⣿⣾⣻⣼⣿⣷⣿⣿⣏⣾⣿⣧⡟⣲⢶⣭⣻⣿⢞⣿⡆⢧⠀⠀⠀⠀⠀⠀⠒⠉⠁⠀⠀⠀⠀⠉⠑⠢⢄⡀⠀⠀⠀⠀⠀⠀⣿⣿⣟⣾⡿⠋⠀⠀⠀⠀⢀⣴⣶⡿⢻⣯⣿⢃⣰⣿⣿⣿⢇⣀⠸⣿⣿⠇⣠⣞⣿⣿⣿⠳⣍⣿⣯⠲⡕⣞⢷⣼⣋⠟⣴⣋⢶⢫⣽⣿⠀⠀
    ⠀⠀⣼⣿⣿⣿⢾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⢿⣿⡾⣽⣯⣿⣷⣽⣿⣯⢞⣿⣈⠓⠂⠤⡀⠠⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢦⠀⣀⣠⡖⣉⡭⠽⠿⠋⠀⠀⠀⠀⢀⣴⣿⡿⢯⣜⡷⠋⠰⣿⣻⣿⠈⠡⣿⣿⣿⠈⠠⣿⣿⢿⣿⣿⣃⣷⡭⢻⣿⣏⠼⣹⣾⣛⡵⣞⣹⢽⣾⣯⢿⣿⠀⠀
    ⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣿⣿⣿⣿⣛⣳⣿⣿⣙⡿⣷⢯⣿⣾⣿⣿⣯⣞⣿⣿⣟⠒⠓⠲⠬⢥⣀⣤⣤⠦⠤⣤⢤⣤⣤⣤⣀⣀⡟⠉⠋⠛⠓⢤⡀⠀⠀⠀⠀⢀⣴⣿⣿⣿⣷⡿⠁⢠⠂⠣⠹⠻⣷⣾⣷⡍⠛⢻⣾⣿⣮⡟⣿⣿⡧⢞⣙⣣⢻⣿⣟⣴⣿⡿⣉⣶⢳⡾⢿⣜⣯⣿⣿⠀⠀
    ⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⡿⣿⣿⣞⣻⣽⣛⣾⣏⣾⢻⣿⣿⣿⣿⣽⣿⣿⡄⠀⢰⠀⠀⠀⠀⠭⠗⠒⠒⠒⠊⠁⠈⠉⠀⠀⠀⠀⣀⢤⣀⣹⠄⢊⣉⣩⣵⣿⣿⣿⢿⣟⣴⣶⣌⠻⠛⠀⢶⡘⠿⢾⣥⣶⣜⠻⣿⣧⣾⣿⣿⣙⢮⡱⣎⣿⣿⣿⣿⣿⣵⣿⣿⣿⣿⣭⢿⣾⣿⣿⠀⠀
    ⢠⣿⣿⣿⣿⣿⣿⣿⣿⣻⣾⣿⣿⣿⣿⣿⣯⢿⡽⣩⢷⣞⡿⣽⣻⣿⣾⣽⣗⣻⢿⣿⣿⣿⣿⣿⣷⣦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⣿⣻⣿⢿⠿⣿⣿⣟⣿⣿⣿⣿⣿⣧⣜⢿⣾⢟⣤⣌⠢⠴⠘⡀⠉⢿⣽⢿⣿⣽⣿⣿⣿⡯⡜⣧⢻⡭⣿⣿⣿⣿⣿⣿⣿⣿⠿⣿⡟⣯⠿⣿⣿⠀⠀
    ⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣿⣿⡿⣟⣯⣟⣿⣻⢾⡝⣳⣿⣽⣻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⣄⠀⠀⠀⢀⣀⣀⣀⣀⣀⣴⣾⣿⣿⣍⣑⠾⣌⠗⣢⣾⣿⣿⣿⣿⣡⢿⣿⣿⢏⣄⢿⣿⣽⠇⣄⠠⠑⣈⠀⠀⢺⣿⣽⣿⣿⣿⢯⣹⢎⣧⢻⣿⣿⣿⣿⣿⢯⡷⢫⣟⡬⣽⠧⣯⢿⣿⡆⠀
    ⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣼⣿⣿⡽⢯⣛⡾⡵⢯⣞⡞⡷⣽⣾⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣾⣿⣿⣿⣿⢿⠿⡟⣿⣿⠿⣼⡿⣿⡾⢬⢺⣿⣿⣿⣿⢷⣿⣻⣯⠙⢱⣿⣿⣿⢉⢱⣿⢿⣷⠀⠀⣈⢭⣿⣉⣿⣿⣿⡿⡲⡝⡾⣜⣻⣿⣿⣿⣿⣿⢾⣹⠷⣮⠵⣏⡞⣧⠻⣿⣿⡀
  </div>
</BaseLayout>

<style>
  .shin {
    font-size: 8px;
    color: rgb(0, 255, 149);
    background-color: rgb(4, 1, 46);
  }
</style>
