---

---

<div class="changelog">
  <h3>Changelog</h3>
  <ul>
    <li>2026-07-01: Opened topfuelbread.com!! :D</li>
    <li>2025-09-28: Added a TODO list and a changelog</li>
    <li>2025-09-27: Updated About page; Added a semi independent guestbook</li>
    <li>2025-09-26: Added linked icons to socials</li>
    <li>...</li>
    <li>2025-09-07: Migrated from Hugo to Astro</li>
    <li>2025-09-05: Opened [REDACTED].com</li>
  </ul>
</div>

<style>
  .changelog {
    background-color: #f0f8ffe3;
    border: 2px solid #add8e6;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 200;
    margin-bottom: 15px;
    padding: 2px;
  }

  .changelog h3 {
    color: #9b6090;
    text-align: center;
  }

  .changelog ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .changelog li {
    margin-bottom: 5px;
    color: #555;
  }
</style>
