---

---

<footer class="flex-center">
  <span>©2026, topfuelbread.com. All rights reserved.</span>
</footer>

<style>
  footer {
    background-color: #37515f;
    color: hotpink;
    text-align: center;
    width: 100%;
    font-size: 10px;
  }
</style>
